<div class="panel panel-default" ng-controller="indexPageCtrl">
  <div class="panel-heading"><strong>Páginas</strong> | <%= link_to "Nova página", new_admin_page_path, class: "btn btn-xs btn-success" %></div>
  <div class="panel-heading">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Filtro" ng-model="search">
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Data de criação</th>
        <th width="30"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="page in pages | filter: search" ng-cloak>
        <td>{{page.id}}</td>
        <td>{{page.title}}</td>
        <td>{{page.created_at | date: 'dd/MM/yyyy'}}</td>
        <td ng-click="edit(page.id)"><button class="btn btn-primary btn-xs">Editar</button></td>
        <td ng-click="remove(page.id, $index)"><button class="btn btn-danger btn-xs">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<p><%= link_to "Nova página", new_admin_page_path, class: "btn btn-sm btn-success" %></p>
