<div class="panel panel-default">
  <div class="panel-heading">Nova página</div>
  <div class="panel-body">
    <div class="col-md-12" data-no-turbolink>
      <%= render 'form' %>
    </div>
  </div>
</div>
