<div ng-controller="indexClientProductCtrl">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="productsFilter">Filtro</label>
        <input type="text" id="productsFilter" class="form-control" ng-model="productsFilter">
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="product in products | filter: productsFilter">
      <div class="col-md-4">
        <p><img src="{{product.image.image.url}}" alt="{{product.name}}"/></p>
        <p>Nome: {{product.name}}</p>
        <p>Preço: {{product.price | currency}}</p>
        <p>Quantidade: {{product.quantity}}</p>
        <span ng-bind-html>{{product.description}}</span>
        <p>Vendedor: {{product.user}}</p>
      </div>
    </div>
  </div>
</div>
