<div class="panel panel-default" ng-controller="indexProductCtrl">
  <div class="panel-heading"><strong>Produtos</strong> | <%= link_to "Novo produto", new_admin_product_path, class: "btn btn-xs btn-success" %></div>
  <div class="panel-heading">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Filtro">
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Anunciante</th>
        <th>Data de criação</th>
        <th width="30"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products | filter: search" ng-cloak>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
        <td>{{product.user}}</td>
        <td>{{product.created_at | date: 'dd/MM/yyyy'}}</td>
        <td ng-click="edit(product.id)"><button class="btn btn-primary btn-xs">Editar</button></td>
        <td ng-click="remove(product.id, $index)"><button class="btn btn-danger btn-xs">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<p><%= link_to "Novo produto", new_admin_product_path, class: "btn btn-sm btn-success" %></p>
