<div class="panel panel-default" ng-controller="indexUserCtrl">
  <div class="panel-heading"><strong>Usuários</strong></div>
  <div class="panel-heading">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Filtro" ng-model="search">
    </div>
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Permissão</th>
        <th>Data da criação</th>
        <th width="30"></th>
        <th width="30"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users | filter: search" ng-cloak>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.created_at | date: 'dd/MM/yyyy'}}</td>
        <td ng-click="edit(user.id)"><button class="btn btn-primary btn-xs">Editar</button></td>
        <td ng-click="remove(user.id, $index)"><button class="btn btn-danger btn-xs">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
