<div ng-controller="showClientProductCtrl" ng-init="rating = star.rating + 3">
  <div class="row">
    <div class="col-md-6">
      <img ng-src="{{product.image.image.main.url}}" alt="{{product.name}}">
    </div>
    <div class="col-md-6">
      <h1>{{product.name}}</h1>
      <p><label>Quantidade</label>: {{product.quantity}}</p>
      <p><label>Preço</label>: {{product.price | currency}}</p>
      <div fundoo-rating rating-value="rating" max="5" on-rating-selected="saveRatingToServer(rating)"></div>
      <p>
        <span ng-if="rating == 1">Péssimo</span>
        <span ng-if="rating == 2">Razoável</span>
        <span ng-if="rating == 3">Regular</span>
        <span ng-if="rating == 4">Bom</span>
        <span ng-if="rating == 5">Ótimo</span>
      </p>
      <label>Descrição</label>
      <div ng-bind-html="product.description"></div>
    </div>
    <div class="col-md-12">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'sebboecommerce';
          
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </div>
</div>
